.productcontainer{
    padding-bottom: 10px;
    .product{
        padding-top: @gutter-top + @gutter-base + 10px;
        font-family: @font-primary;
        .productinfo{
    
            width: 100%;
            .__gallery{
                width: 50%;
                float: left;
            }
            .__info{
                width: 50%;
                float: left;
                .logo{
                    width: 50%;
                }
            }
        }
    
    }
}
