.reviews{
    width: 100%;
    clear: both;
    display: block;
    padding-bottom: @gutter-top + @gutter-base + 10px;
    .__summary{ 
        position: relative;
        margin: 0;
        text-align: center;
        align-items: center;
        .__rating{
            font-size: 42px;
        }
        .__stardiv{
        }
        .__comments{
            font-size: 22px;
            padding-left: 28px;
        }
    }
    .reviewcontainer{
        padding-top: @gutter-top + @gutter-base + 10px;
        .navtabs{
            border-bottom: 2px solid #dee2e6;
            .navitem{
                .navlink{
                    border: 1px solid transparent;
                    &.active{
                        border-bottom: 2px solid #eb526e !important;
                    }
                }
            }
        }
    }
}
.reviewlist{
    .name{
        font-size: 18px;
        font-weight: bold;
    }
    .rating{
        display: inline;
    }
    .rate{
        font-size: 12px;
        color: #77736d;
        padding-left: 26px;
    }
}
//move this to helpers
.actionbuttons{
    float: right;
}
//move to helpers
.btnc{
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    text-transform: none;
    background-color: #eb526e !important;
    width: 146px;
    height: 37px;
}
.notificationcontainer{
    padding-top: 61px;
}

.formContainer{
    display: block;
    padding-top: 7px;
}
.stars {
    position: relative;
    display: inline-block;
    color: transparent;
    font-size: 22px;
    width: 14%;
  }
  
  .stars{
    top: 0;
    left: 0;
    content: '★★★★★';
    color:lightgray;
  }
  
  .stars:after {
    top: 0;
    left: 0;
    content: '★★★★★';
    color: gold;
    overflow: hidden;
  }
  
  .stars0
    {
        &:after { width: 0%; }
    }

  .stars10:after { width: 10%; }
  .stars20:after { width: 20%; }
  .stars30:after { width: 30%; }
  .stars40:after { width: 40%; }
  .stars50:after { width: 50%; }
  .stars60:after { width: 60%; }
  .stars70:after { width: 70%; }
  .stars80:after { width: 80%; }
  .stars90:after { width: 90%; }
  .stars100:after { width: 100%;}