@import "./less/_variables.less";
@prod: "./product/";

@import "./less/component/_review.less";
@import "./less/component/_product.less";


@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
header {
    background-image: url('../images/header.png');
    color: #6c94be;
    height: 208px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.paginationcontainer{
    position: relative;
    margin: 0;
    text-align: center;
    align-items: center;
    .pagination{
        display: inline-block;
        list-style: none;
        margin: 0;
        .pgoptions{
            color: #eb516d;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            cursor: pointer;
        }
        .pgactive{
            background-color: #eb516d;
            color: #ffff;
            font-weight: bold;
        }
    }
}
