//add any global configs here

@em-base: 16px;
@image-path: '../images';

// Page
@page-bg: #fff;

// Width
@width-base: 1140px; // Mainly used for centering

// Colors
@color-primary: #c30061;
@color-info: #5bc0de;
@color-white: #fff;
@color-gray: #9e9a9a;
@color-gray-dark: #484848;
@color-gray-alt: #7a787a;
@color-light-gray: #f2f3f4;
@color-light-gray-alt: #e1e1e2;

//gutters
@gutter-top: 0;
@gutter-base: 30px;

// Breakpoints
@breakpoint-small: 479px;
@breakpoint-phone: 767px;
@breakpoint-tablet: 989px;
@breakpoint-desktop: 1190px;
@breakpoint-desktop-large: 1279px;

//fonts
@font-primary: 'Nunito Sans', sans-serif;